torch
torchvision
torchaudio
transformers==4.46.1
accelerate
sentencepiece
sacremoses
protobuf
git+https://github.com/VarunGumma/IndicTransToolkit.git
openai-whisper
soundfile
librosa
numpy
scipy
flask
flask-cors
reportlab
pillow
pydub
hf_xet
gTTS==2.5.4
huggingface_hub